<!-- components/modal-selecao.html -->
<div id="modalSelecao" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modalTitle">Selecionar Item</h3>
            <button class="modal-close" onclick="fecharModal()">&times;</button>
        </div>
        <div class="modal-body" id="modalBody">
            <div class="loading-modal">Carregando...</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" onclick="fecharModal()">Cancelar</button>
        </div>
    </div>
</div>